

@font-face {
font-family: "cambriab";
  src: url('../../fonts/cambriab.woff') format('woff2'),
       url('../../fonts/cambriab.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//  font-family: wu-ico-911;
//  src: url("http://localhost/fonts/wu-ico-911.ttf")format('truetype'),
//  	url("http://localhost/fonts/wu-ico-911.eot")format('embedded-opentype');
//  }