//colors

 $gray:#414141;
 $white:#ffffff;
// $black:#2b2e35;
// $orange:#ff621f;
 $red:#f73427;
// $green:#6fab57;
// $blue:#63aae1;


$stack-sans-serif : Helvetica, Arial, sans-serif;
$cambriab : 'cambriab', $stack-sans-serif;




